@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root{
  --header-color:#F0A8D0;
  --about-color:#F7B5CA;
  --project-color:#FFC6C6;
  --contact-color:#FFEBD4;
  --text-color: #740938;
  --dropcap-color:#CC2B52;
  --h1-sub-tit-size:36px;
}

html{
  scroll-behavior: smooth;
}

body{
  color:var(--text-color);
  font-size: 20px;  
  font-family: "Roboto", sans-serif;
}

section{
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* header part */

#header{
width:100%;
height:100vh;
padding:20px 10% 10%;
background-color: var(--header-color);
}

#header .navbar{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  list-style-type: none;
}

.navbar ul li{
  display:inline-block;
  margin-right:40px;
}

.navbar ul li a{
  text-decoration:none;
  color:var(--text-color);
  position: relative;
}

.navbar .fa-solid{
  display:none;
}

.navbar ul li a::after{
  content: '';
  width:0%;
  height:3px;
  background: var(--contact-color);
  position: absolute;
  left:0;
  bottom:-10px;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.navbar ul li a:hover::after{
  width:100%;
}

.navbar .logo{
  width:fit-content;
  font-size: 26px;
  line-height:30px;
}

span.caps{
  color:var(--text-color);
  font-size: 36px;
  font-weight: 700;
}

.header-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap:wrap;
  margin-top:10%;
}

.content h2{
  font-size: 30px;
}

.content h3{
  margin-top: 10px;
  margin-bottom: 20%;
}

.header-text img{
  width:300px;
  height:300px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin-right:40px;
}

.content p a{
  text-decoration: none;
  color:white;
  width:10%;
  height:20px;
  padding: 10px;
  background: var(--text-color);
  font-size:16px;
  font-weight: 500;
  transition: border-radius 0.5s;
}

.content p a:hover{
  border-radius: 10px;
  border: 2px solid var(--contact-color);
}

/*--- About ---*/

#about{
  background-color: var(--about-color);
  padding:10% 10%;
}

#about .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap:wrap;
  padding-bottom:5%;
}

.row .about-col-1{
  flex-basis: 35%;
  }

.row .about-col-1 img{
  width:350px;
  height:350px;
  border-radius: 15px;
  object-fit: cover;
  object-position: top;
}

.row .about-col-2{
  flex-basis: 50%;
}

.about-col-2 h1{
  font-size: var(--h1-sub-tit-size);
}

.about-col-2 .about-para{
  font-size: 14px;
  margin-bottom: 40px;
}

.table-tit{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap:nowrap;
  width:80%;
}

.table-head{
  cursor: pointer;
  position:relative;
  font-weight: 700;
}

.table-head::after{
  content: '';
  width:0px;
  height:3px;
  background: var(--contact-color);
  position: absolute;
  left:0;
  bottom:-8px;
  transition: 0.5s;
}

.table-head.active-link::after{
  width:40%;
}

.about-skills .sub-title{
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}

.progress-bar{
  width: 64%;
  height:8px;
  border-radius: 15px;
  margin-top: 10px;
  border: 2px solid var(--project-color);
  background:var(--contact-color);
}

.progress-bar div{
  height:8px;
  border-radius: 15px;
  width:0%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.progress-bar div span{
  height:25px;
  width:25px;
  background: var(--contact-color);
  border-radius: 50%;
  float:right;
  margin-top: -10px;
  margin-right: -10px;
  color:var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  font-size: 10px;
}

.html{
  background-color: var(--header-color);
  animation: html 1s linear forwards;
}
.jsq{
  background-color: var(--about-color);
  animation: jsq 1s linear forwards;
}
.scss{
  background-color: var(--header-color);
  animation: scss 1s linear forwards;
}
.angular{
  background-color: var(--about-color);
  animation: angular 1s linear forwards;
}

@keyframes html{
  100%{
    width:75%;
  }
}

@keyframes jsq{
  100%{
    width:55%;
  }
}

@keyframes scss{
  100%{
    width:60%;
  }
}

@keyframes angular{
  100%{
    width:40%;
  }
}

.table-contents{
  margin-top: 20px;
  display:none;
}

.table-contents ul{
  width:64%;
  list-style-type: none;
  font-size: 14px;
}

.table-contents ul li{
  margin-top: 16px;
}

.table-contents.active-table{
  display:block;
}

/*    Projects */
#projects{
  padding: 10% 10%;
  background: var(--project-color);
}

#projects .sub-title{
  font-size:var(--h1-sub-tit-size);
  margin-bottom: 40px;
}

.project-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap:40px;
  margin-bottom:40px;
}

.project{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 0.5px solid var(--contact-color);
  margin-top:40px;
}

.project img{
  display: block;
  border-radius: 10px;
  width:100%;
  transition: transform 0.5s;
}

.project-content{
  color:white;
  padding:0 40px;
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(0,0,0,0.5), var(--header-color), var(--contact-color));
  border-radius: 10px;
  position: absolute;
  left:0;
  bottom:0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.project-content h3{
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-content a{
  margin-top: 10px;
  text-decoration: none;
  color:var(--text-color);
  font-size:16px;
  width:50px;
  height:50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  background: var(--header-color);
  transition: border 0.5s;
}

.project-content a:hover{
  border: 1px solid var(--contact-color);
}

.project:hover img{
transform: scale(1.1);
}

.project:hover .project-content{
  height: 100%;
}

.project-botton{
  color:var(--text-color);
  text-decoration: none;
  display: block;
  border: 0.5px solid var(--contact-color);
  width:fit-content;
  padding:10px 20px;
  border-radius: 10px;
  font-weight: 500;
  text-align:center;
  margin: 0 auto;
  transition: background-color 0.5s;
}

.project-botton:hover{
  background: var(--header-color);
}


/* contact */

#contact{
  background: var(--contact-color);
  padding: 10% 10%;
}

.contact-information{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap:20px;
}

.contact-information-left{
 width:100%;
 font-size: 20px;
}

.contact-information-left h1{
  font-size: var(--h1-sub-tit-size);
  margin-bottom: 40px;
}


.contact-info-1, .contact-info-2{
  width:100%;
  margin-bottom: 40px;
}

.contact-info-1 .fa-envelope, .contact-info-2 .fa-phone{
  width:50px;
  height:50px;
  line-height: 50px;
  background: var(--text-color);
  color:white;
  border-radius: 50%;
  margin-right: 20px;
  text-align:center;
  cursor: pointer;
}

.contact-para a{
text-decoration: none;
color:var(--text-color);
}

.contact-information-right{
  width:100%;
}

form input, form textarea{
  width:100%;
  margin-bottom: 10px;
  padding:20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact-information-right button{
text-decoration: none;
color: white;
padding:10px 20px;
text-align:center;
border: 0.5px solid var(--project-color);
border-radius: 8px;
font-size: 14px;
background: var(--text-color);
cursor: pointer;
transition: background-color 0.5s;
margin-top: 20px;
}

.contact-submit:hover{
  background: var(--header-color);
  color: var(--text-color);
}
/*---copyright --*/

#copyright{
width:100%;
height:20%;
background: var(--header-color);
color: var(--text-color);
font-size: 14px;
padding:20px 10%;
text-align: center;
}

#copyright i{
  font-size: 10px;
  color: var(--text-color);
}

/* Media query */

@media only screen and (max-width:648px) {
#header{
    width:100%;
    height:100%;
    padding:20px 10% 10% 10%;
  }

  .header-text{
    display:flex;
    flex-direction: row;
    gap:20px;
  }

  .header-text img{
    order:1;
    width:250px;
    height:250px;
    object-fit: cover;
    object-position: top;
    border-radius: 40px;
    padding-left:0px;
  }

  .header-text .content{
    order:2;
    font-size:14px;
  }

  #sidemenu{
    background: var(--header-color);
    box-shadow: 15px 20px 15px var(--about-color) inset;
    position: fixed;
    top:0;
    right:-180px;
    width:180px;
    height:100vh;
    padding-top: 40px;
    z-index:2;
    transition: right 0.5s;
    font-size:16px;
  }

  #sidemenu .fa-solid{
    position: absolute;
    top:20px;
    left:20px;
    cursor: pointer;
    font-size:16px;
  }

  .navbar ul li{
    display: block;
    margin: 30px 20px;
  }

  .navbar .fa-solid{
    display: inline-block;
    font-size: 16px;
  }
  
  .content h3, .content p a{
  font-size: 14px;
  }

  .content h2{
    font-size: 20px;
    }

  .content h2 .caps{
  font-size: 24px;
  }

  .header-text p{
    margin-bottom: 0;
    font-size:14px;
  }

  #about .row{
    justify-content:  center;
    align-items: center;
  }

  .about-col-1, .about-col-2{
    flex-basis: 100%;
  }

  .about-col-1 img{
    width:280px;
    height:280px;
    margin-bottom: 40px;
  }

  .about-col-2 .about-para{
    margin-top: 12px;
    font-size: 12px;
  } 

  .table-tit{
    width:100%;
  }
  
  .table-head{
    font-size: 14px;
    margin-right: 50px;
  }
  
  .progress-bar{
    width:85%;
  }
  
  .table-contents ul{
    width:85%;
    font-size:12px;
  }

   .contact-information-left p{
    font-size: 14px;
   }
}
